* {
  box-sizing: border-box !important; }

@font-face {
  font-family: CircularStd;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/CircularStd-Book.woff") format("woff"); }
@font-face {
  font-family: CircularStd;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/CircularStd-Bold.woff") format("woff"); }
@font-face {
  font-family: CircularStd;
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/CircularStd-Black.woff") format("woff"); }
h1, h2, h3, h4, h5, h6, p {
  color: #333333;
  font-family: "CircularStd", Helvetica, sans-serif; }

h2 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center; }

h3 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #00DF96; }

.home-heading {
  font-size: 4.375rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 4.375rem;
  margin-bottom: 2.5rem; }
  .home-heading span {
    color: #00DF96;
    font-weight: 900; }

.rectangle {
  display: block;
  width: 60px;
  height: 7px;
  margin: 0 auto;
  background-color: #00DF96; }

.lead {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  color: #666666; }

@media screen and (max-width: 576px) {
  .home-heading {
    font-size: 3rem;
    line-height: 3rem; } }
.btn {
  text-decoration: none !important;
  padding: 1.5rem 2.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 4rem;
  transition: all 0.5s ease;
  text-transform: uppercase; }

.btn-primary {
  background-color: #00DF96 !important;
  color: #fff !important; }
  .btn-primary:hover {
    background-color: #28f9b3 !important; }

.home {
  min-height: 100vh; }

.right-svg {
  max-width: 50%;
  max-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 40%; }
  .right-svg img {
    width: 100%;
    max-height: 90vh;
    float: right; }

.right-top-svg {
  height: 80px;
  position: absolute;
  top: 0;
  right: 0; }

.bottom-svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  z-index: -1; }

.arrow {
  height: 30px;
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  margin-left: -15px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }
  .arrow img {
    height: 30px; }

@media screen and (min-width: 992px) {
  .right-top-svg {
    display: none; } }
@media screen and (min-width: 1280px) {
  .bottom-svg {
    display: none; } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); } }
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
.team-row {
  margin-top: 4rem; }

.team-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem; }
  .team-card .team-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid #00DF96;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 1rem; }
    .team-card .team-img img {
      width: 100%; }
  .team-card .team-body {
    text-align: center;
    text-transform: uppercase; }
    .team-card .team-body h5 {
      font-size: 1.75rem;
      margin-bottom: 0; }
    .team-card .team-body p {
      font-size: 1.25rem;
      color: #666666; }

footer {
  background-color: #282828;
  padding: 1.5rem 0; }
  footer p {
    color: #fff;
    text-align: center;
    margin: 0; }

.icon-row {
  margin-top: 4rem; }

.icon-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem; }
  .icon-card .icon-img {
    z-index: 1;
    overflow: hidden;
    margin-bottom: 1rem; }
    .icon-card .icon-img img {
      width: 100%;
      max-width: 250px; }
  .icon-card .icon-body {
    text-align: center; }
    .icon-card .icon-body h5 {
      font-size: 1.5rem;
      margin-bottom: 0;
      text-transform: uppercase; }
    .icon-card .icon-body p {
      font-size: 1.25rem;
      color: #666666; }

.feature {
  padding: 4rem 0; }
  .feature .feature-gif {
    max-height: 500px; }
    .feature .feature-gif img {
      max-height: 500px;
      box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.15); }

@media screen and (max-width: 768px) {
  .feature-body {
    margin-bottom: 3rem; } }
nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px; }
  nav .logo {
    height: 80px;
    position: relative; }
    nav .logo .left-logo {
      position: absolute;
      top: 0;
      left: 0;
      height: 120px; }
    nav .logo .logo-img {
      height: 80px;
      z-index: 1; }

section:not(.home) {
  padding: 4rem 0; }

.social-icon {
  color: #666666;
  text-decoration: none !important; }
  .social-icon .socicon {
    transition: all 0.5s ease; }
  .social-icon .socicon-linkedin:hover {
    color: #3371b7; }
  .social-icon .socicon-medium:hover {
    color: #03a87c; }
  .social-icon .socicon-github:hover {
    color: #221e1b; }
  .social-icon .socicon-chrome:hover {
    color: #4285f4; }
  .social-icon .socicon-twitter:hover {
    color: #4da7de; }

hr {
  opacity: 0.4; }

/*# sourceMappingURL=style.css.map */
