.feature {
  padding: 4rem 0;

  .feature-gif {
    max-height: 500px;

    img {
      max-height: 500px;
      box-shadow: 0 0 22px 0 rgba(0,0,0,.15);
    }
  }
}

@media screen and (max-width: $medium) {
  .feature-body {
    margin-bottom: 3rem;
  }
}