* {
  box-sizing: border-box !important;
}

@import 'mixins';
@import 'variables';
@import 'texts';
@import 'buttons';
@import 'home';
@import 'team';
@import 'footer';
@import 'icon-card';
@import 'features';
@import 'navbar';

section:not(.home) {
  padding: 4rem 0;
}

.social-icon {
 color: $lightgrey;
 text-decoration: none !important;

  .socicon {
    transition: all 0.5s ease;
  }

  .socicon-linkedin:hover {
    color: #3371b7;
  }

  .socicon-medium:hover {
    color: #03a87c;
  }

  .socicon-github:hover {
    color: #221e1b;
  }

  .socicon-chrome:hover {
    color: #4285f4;
  }

  .socicon-twitter:hover {
    color: #4da7de;
  }
}

hr {
  opacity: 0.4;
}