* {
  box-sizing: border-box !important;
}

@import 'mixins';
@import 'variables';
@import 'texts';
@import 'buttons';
@import 'home';
@import 'team';
@import 'footer';
@import 'icon-card';
@import 'features';
@import 'navbar';

section:not(.home) {
  padding: 4rem 0;
}